<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<title>国家空间科学数据中心(National Space Science Data Center)</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/news.css" />
		<link rel="stylesheet" href="../css/aboutus.css" />
		<script src="../js/jquery-3.4.1.min.js"></script>
	</head>

	<body class="nssdc_bg">
		<div class="nssdc_top">
			<div class="nssdc_top_main">
				<div class="nssdc_top_left">
					<a href="#" id="logo_tit1"><img src="../img/toplogo.png" />国家科技资源共享服务平台</a>
					<a href="../html/index.html" id="logo_tit2" style="display: none;"><img src="../img/logo-2-big.png" />国家空间科学数据中心</a>
				</div>
				<div class="menubtn" id="menubtn" onclick="menu()">
					<img src="../img/menu.png" />
				</div>
				<div class="menu subNavBox">
					<!--未登录-->
					<div class="nologin_right">
						<a href="">登录/注册</a>
					</div>
					<!--已登录-->
					<div class="login_div">
						<div class="login_state">
							<img src="../img/photo_login.png" />
							<span>分中心管理员1</span>
						</div>
						<ul class="login_ul">
							<li>
								<a href="javascript:void(0)">
									<img src="../img/manage.png" />
									<span>管理后台</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="../img/logout.png" />
									<span>退出</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="language">
						<a href="#">ENGLISH</a>
					</div>
					<div class="nssdc_top_right">
						<a href="../html/visit_mydata.html"><span>我的访问</span></a>
						<a href="#"><span>数据政策</span></a>
						<a href="#"><span>典型服务</span></a>
						<a href="#"><span>帮助中心</span></a>
						<a href="#"><span>意见建议</span></a>
						<a href="#"><span>关于我们</span></a>
					</div>
				</div>
			</div>
		</div>
		<!--logo背景-->
		<div class="nssdc_info">
			<img src="../img/topbg.png" class="topbg">
			<div class="nssdc_info_main">
				<a href="index.html"><img src="../img/logo.png" /></a>
			</div>
		</div>
		<div class="nssdc_news_content">
			<div class="nssdc_menu_bar">
				<a href="../html/index.html"><img src="../img/home.png"></a> <span>></span><span>重大任务</span>
			</div>
			<div class="nssdc_sub_content">
				<div class="nssdc_comm_newsleft">
					<div class="nssdc_comm_newsleft_img">
						<div class="nssdc_comm_newsleft_sbj"></div>
						<img src="../img/logo_text.png" />
					</div>
					<ul class="nssdc_comm_newsleft_ul">
						<li class="newsleft_tab">
							<a href="aboutus_center.html">
								<img src="../img/nav_down.png" />
								<span>硬X射线调制望远镜——“慧眼”</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../img/nav_down.png" />
								<span>全国短基线VLF/LF三维雷电探测网</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../img/nav_down.png" />
								<span>亚太长基线电磁脉冲探测网</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="nssdc_comm_newsright">
					<div class="major_left_text">
						<div class="major_top_info">
							<div class="major_top_left">
								<div class="major_left_tit">
									<p>硬X射线调制望远镜——“慧眼”</p>
									<p>Hard X-ray Modulation Telescope (HXMT)</p>
								</div>
								<div class="major_left_info">
									<p>“慧眼”卫星是我国第一个空间天文卫星，是既可以实现宽波段、大视场X射线巡天又能够研究黑洞、中子星等高能天体的短时标光变和宽波段能谱的空间X射线天文望远镜，同时也是具有高灵敏度的伽马射线暴全天监视仪。</p>
									<p>作为我国第一台太空望远镜，HXMT卫星在2011年正式进入工程研制阶段。2017年6月15日HXMT卫星发射成功，开展科学观测。HXMT的成功发射和运行，将使我国在国际竞争激烈的的高能天体物理观测领域占有重要的一席之地。</p>
									<p>HXMT卫星也是空间科学战略性先导科技专项（一期）支持的四颗卫星之一。</p>
								</div>
							</div>
							<div class="major_top_right">
								<img src="../img/major1-1.png" />
							</div>
						</div>
						<div class="major_subtit">科学目标</div>
						<div class="major_subcon">
							<p>搜寻银盘面上的新的暂现源，监测已知的变源；</p>
							<p>观测X射线双星以研究强引力场或强磁场中的运动和辐射机制； </p>
							<p>监测研究伽马射线暴和引力波电磁对应体。</p>
						</div>
						<div class="major_subtit">基本信息</div>
                        <ul class="major_base_info">
							<li class="major_base_li">
								<div class="major_base_left">发射时间：</div>
								<div class="major_base_right">2017年6月15日11时</div>
							</li>
							<li class="major_base_li">
								<div class="major_base_left">轨道类型：</div>
								<div class="major_base_right">太阳同步轨道</div>
							</li>
							<li class="major_base_li">
								<div class="major_base_left">发射地点：</div>
								<div class="major_base_right">酒泉卫星发射中心</div>
							</li>
							<li class="major_base_li">
								<div class="major_base_left">轨道参数：</div>
								<div class="major_base_right">550km圆轨道，倾角43°</div>
							</li>
							
							<li class="major_base_li">
								<div class="major_base_left">运载火箭：</div>
								<div class="major_base_right">长征四号乙（遥三十一）</div>
							</li>
							<li class="major_base_li">
								<div class="major_base_left">卫星质量：</div>
								<div class="major_base_right">2500 Kg</div>
							</li>							
							<li class="major_base_li">
								<div class="major_base_left">卫星状态：</div>
								<div class="major_base_right">在轨运行</div>
							</li>							
							<li class="major_base_li">
								<div class="major_base_left">尺　　寸：</div>
								<div class="major_base_right">2.0 m×2.0 m×2.8 m (L×W×H)</div>
							</li>
						</ul>
						<div class="major_subtit">有效载荷</div>
						<div class="major_table_info">							
							<div class="major_table">
								<div class="major_table_li">
									<div class="major_table_left">
										载荷名称：
									</div>
									<div class="major_table_right">
										<p>高能X射线望远镜（HE）</p>
									</div>
								</div>
								<div class="major_table_li">
									<div class="major_table_leftwidth">
										技术参数：
									</div>
									<div class="major_table_rightwidth">
										<table class="major_imtable">
											<tr>
												<td class="major_td_left">探测器类型</td>
												<td>NaI(CsI)</td>
											</tr>
											<tr>
												<td class="major_td_left">探测器总面积（cm2）</td>
												<td>～5100</td>
											</tr>
											<tr>
												<td class="major_td_left">观测能区（keV）</td>
												<td>20～350</td>
											</tr>
											<tr>
												<td class="major_td_left">视场（FWHM）</td>
												<td>18个准直器单体，提供1.1°×5.7°（16个，其中1个全遮挡）和5.7°×5.7°（2个）视场</td>
											</tr>
											<tr>
												<td class="major_td_left">能量分辨率（FWHM）</td>
												<td>≤17%(@60 keV)</td>
											</tr>
											<tr>
												<td class="major_td_left">点源定位精度（20σ）</td>
												<td>1′(1σ)</td>
											</tr>
											<tr>
												<td class="major_td_left">时间分辨率</td>
												<td>4 µs</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						    <div class="major_table_img">
								<img src="../img/major1-2.png" />
							</div>
						</div>
						<!--分隔-->
						<div class="major_table_info">							
							<div class="major_table">
								<div class="major_table_li">
									<div class="major_table_left">
										载荷名称：
									</div>
									<div class="major_table_right">
										<p>空间环境监测器（SEM）</p>
									</div>
								</div>
								<div class="major_table_li">
									<div class="major_table_left">
										探测目标：
									</div>
									<div class="major_table_right">
										<p>提供在轨空间带电粒子环境信息，为卫星在轨运行本底的估计提供监测数据，同时为保障主载荷和卫星在轨运行安全提供数据。</p>
									</div>
								</div>
								<div class="major_table_li">
									<div class="major_table_left">
										探测对象：
									</div>
									<div class="major_table_right">
										<p>高能质子和高能电子，可以获得任意时刻质子能谱、电子能谱、质子方向分布和电子的方向分布等信息。</p>
									</div>
								</div>
								<div class="major_table_li">
									<div class="major_table_left">
										载荷设计：
									</div>
									<div class="major_table_right">
										<p>SEM由传感器、电子线路及机械结构组成，单机外形结构如图所示。其中传感器包括16个粒子方向探头、1个电子和1个质子能谱探头。</p>
									</div>
								</div>
								<div class="major_table_li">
									<div class="major_table_leftwidth">
										技术参数：
									</div>
									<div class="major_table_rightwidth">
										<table class="major_imtable">
											<tr>
												<td class="major_td_top"></td>
												<td class="major_td_top">粒子方向探头</td>
												<td class="major_td_top">电子能谱探头</td>
												<td class="major_td_top">质子能谱探头</td>
											</tr>
											<tr>
												<td class="major_td_left">数量</td>
												<td>16</td>
												<td>1</td>
												<td>1</td>
											</tr>
											<tr>
												<td class="major_td_left">视场（FWHM）</td>
												<td>180°×15°</td>
												<td>30°</td>
												<td>40°</td>
											</tr>
											<tr>
												<td class="major_td_left" rowspan="2">观测能区（FWHM）</td>
												<td>≥200   keV (电子)</td>
												<td>0.4-1.5 MeV (6能道)</td>
												<td>3-150 MeV (6能道)</td>
											</tr>
											<tr>
												<td>1.5-200 MeV (质子)</td>
												<td>＞1.5   MeV (1能道)</td>
												<td>＞150  MeV (1能道)</td>
											</tr>
											<tr>
												<td class="major_td_left">时间分辨率</td>
												<td colspan="3" align="center">1秒</td>
												
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="major_table_img">
								<img src="../img/major1-3.png" />
							</div>
						</div>
						<div class="major_subtit">数据资源</div>
						<div class="major_link">
							<div class="major_link_li">
								<div class="major_link_left">数据介绍：</div>
								<div class="major_link_right"><a href="http://vsso.nssdc.ac.cn/page.html#/inSubjectSearch/gjz,hxmt" target="_blank">http://vsso.nssdc.ac.cn/page.html#/inSubjectSearch/gjz,hxmt</a></div>
							</div>
							<div class="major_link_li">
								<div class="major_link_left">检索下载：</div>
								<div class="major_link_right"><a href="http://hxmt.nssdc.ac.cn/" target="_blank">http://hxmt.nssdc.ac.cn/</a></div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_main">
				<div class="footer_logo">
					<img src="../img/logo-2-big.png" />
				</div>
				<div class="footer_company">
					<p><span>国家空间科学数据中心</span><span>版权所有</span></p>
					<p><span>地址：北京市海淀区中关村二条一号</span><span>邮编：100190</span></p>
					<p><span>京ICP备05061203号-26</span><span>京公网安备110402500029号</span></p>
					<p>技术支持：中国科学院计算机网络信息中心</p>
				</div>
				<div class="footer_biao">
					<img src="../img/erweima.png" />
				</div>
				<div class="footer_chat">
					<p>联系电话：010-52804246</p>
					<p>E-mail：nssdc_service@nssc.ac.cn</p>
					<p>
						<a href="">意见反馈</a>
					</p>
				</div>

			</div>
		</div>
	</body>
	<script type="text/javascript">
		function menu() {
			$(".subNavBox").slideToggle(500).siblings(".subNavBox").slideUp(500);
		}
		var info_h = "";
		//窗口大小发生改变
		$(window).resize(function() {
			//获取窗口宽度
			var windSize = window.innerWidth;
			if(windSize > 1115) {
				$(".menu").slideDown(0);
			} else {
				$(".menu").slideUp(0);
			}
			info_h = $(".nssdc_info").height();
		});
		//顶部logo切换
		window.onload = function() {
			info_h = $(".nssdc_info").height();
			getScroll();
		}
		$(window).scroll(function() {
			getScroll();
		});

		function getScroll() {
			var S = document.body.scrollTop || document.documentElement.scrollTop;
			if(S >= info_h) {
				$("#logo_tit1").hide();
				$("#logo_tit2").show();
			} else {
				$("#logo_tit2").hide();
				$("#logo_tit1").show();
			}
		}
		//顶部logo切换结束
		
	</script>

</html>