<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="description" content="" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>国家空间科学数据中心(National Space Science Data Center)</title>
    <link rel="stylesheet" href="./template/css/reset.css" />
    <link rel="stylesheet" href="./template/css/style.css" />
    <link rel="stylesheet" href="./template/css/news.css" />
    <link rel="stylesheet" href="./template/css/aboutus.css" />
    <!-- vue所需的依赖 -->
    <!-- <script src="./js/Global/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引用后立刻关闭vue的开发环境警告 -->
    <script>Vue.config.productionTip = false</script>
    <!-- 引入elementUI样式 -->
    <!-- <link rel="stylesheet" href="./resources/css/elementui-index.css" /> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- 引入elementUI组件库 -->
    <!-- <script src="./js/Global/elementui-index.js"></script> -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入jQuery所需依赖-->
    <script src="./template/js/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <!-- <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> -->
  </head>

  <body class="nssdc_bg">
    <div id="app">
      <div class="nssdc_top">
        <div class="nssdc_top_main">
          <div class="nssdc_top_left">
            <a href="https://escience.org.cn" target="_blank" id="logo_tit1">
              <img src="./template/img/toplogo.png" />
              国家科技资源共享服务平台
            </a>
            <a href="http://www.nssdc.ac.cn/" id="logo_tit2" style="display: none">
              <img src="./template/img/logo-2-big.png" />
              国家空间科学数据中心
            </a>
          </div>
          <div class="menubtn" id="menubtn" onclick="menu()">
            <img src="./template/img/menu.png" />
          </div>
          <div class="menu subNavBox">
            <!--未登录-->
            <div v-if="!logged" class="nologin_right">
              <a href="#" @click="loginCAS()">登录/注册</a>
            </div>
            <!--已登录-->
            <div v-if="logged" class="login_div">
              <div class="login_state">
                <img src="./template/img/photo_login.png" />
                <span>{{ username }}</span>
              </div>
              <ul class="login_ul">
                <li>
                  <a href="http://www.nssdc.ac.cn/page.html#/htgl">
                    <img src="./template/img/manage.png" />
                    <span>管理后台</span>
                  </a>
                </li>
                <li>
                  <a href="#" @click="logoutCAS(loginFlag)">
                    <img src="./template/img/logout.png" />
                    <span>退出</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="language">
              <a href="http://www.nssdc.ac.cn/eng">ENGLISH</a>
            </div>
            <div class="nssdc_top_right">
              <a v-show="logged" href="http://www.nssdc.ac.cn/mhsy/html/visit_mydata.html"><span>我的访问</span></a>
              <a href="#" @click="building()"><span>数据政策</span></a>
              <a href="http://www.nssdc.ac.cn/mhsy/html/service.html"><span>典型服务</span></a>
              <a href="http://www.nssdc.ac.cn/mhsy/html/help.html"><span>帮助中心</span></a>
              <a v-show="logged" href="http://www.nssdc.ac.cn/mhsy/html/visit_info.html"><span>意见建议</span></a>
              <a href="http://www.nssdc.ac.cn/mhsy/html/aboutus_center.html"><span>关于我们</span></a>
            </div>
          </div>
        </div>
      </div>
      <!--logo背景-->
      <div class="nssdc_info">
        <img src="./template/img/topbg.png" class="topbg" />
        <div class="nssdc_info_main">
          <a href="http://www.nssdc.ac.cn/"><img src="./template/img/logo.png" /></a>
        </div>
      </div>
      <div class="nssdc_news_content">
        <div class="nssdc_menu_bar">
          <a href="http://www.nssdc.ac.cn/"><img src="./template/img/home.png" /></a>
          <span>></span>
          <span>空间科学工程应用平台</span>
        </div>
        <div class="nssdc_sub_content">
          <div>
            <!-- 返回按钮 -->
            <el-button
              id="returnBtn"
              type="primary"
              size="small"
              @click="returnBack()"
            >
              返回上层应用
            </el-button>
            <!-- 具体应用的显示窗口 -->
            <div id="frameDiv" class="frameContent">
              <iframe
                id="subPage"
                frameborder="no"
                border="0"
                marginwidth="0"
                marginheight="0"
                style="width: 100%"
              ></iframe>
              <!-- <iframe id="subPage" frameborder="no" border="0" marginwidth="0" marginheight="0" style="width:100%" src = "subpage/SelectPage/Navigation.html?signature=534f92288cd2332140ee4281&userId=534bbbe18cd23317f008f0b8&account=zhang&domain=cloud.vsso.ac.cn&permission=10010#0011100#11001011&name=张明浩" ></iframe> -->
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer_main">
          <div class="footer_logo">
            <img src="./template/img/logo-2-big.png" />
          </div>
          <div class="footer_company">
            <p><span>国家空间科学数据中心</span><span>版权所有</span></p>
            <p>
              <span>地址：北京市海淀区中关村二条一号</span>
              <span>邮编：100190</span>
            </p>
            <p>
              <a href="https://beian.miit.gov.cn" target="_blank"><span class="tempLink">京ICP备05061203号-25</span></a>
            </p>
            <p>技术支持：中国科学院计算机网络信息中心</p>
          </div>
          <div class="footer_biao">
            <img src="./template/img/erweima.png" />
          </div>
          <div class="footer_chat">
            <p>联系电话：010-52804246</p>
            <p>E-mail：nssdc_service@nssc.ac.cn</p>
            <p>
              <a v-show="logged" href="http://www.nssdc.ac.cn/mhsy/html/visit_info.html">意见反馈</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <style>
    #returnBtn {
      float: left;
      margin-bottom: 10px;
      display: none;
      background-color: rgba(30, 107, 223, 0.795);
      border-color: rgb(32, 111, 230);
    }
    /* #logoutBtn {
      float: right;
    } */
    .frameContent {
      width: 1170px;
      margin: 0 auto;
    }
    /* .content {
      width: 1170px;
      height: 100px;
      background-color: #c3c3c3;
      margin: 0 auto;
    } */
    .tempLink:hover{
      text-decoration: underline;
    }
  </style>
  <!-- vue有关控制代码 -->
  <script type="text/javascript">
    var globalLogged = false;
    var app = new Vue({
      el: "#app",
      data: {
        logged: false,
        loginFlag: "",
        username: "用户名获取失败",
        userInfo: {},
      },
      // created() {
      //   Vue.config.productionTip = false;
      // },
      mounted() {
        this.checkLogin();
      },
      methods: {
        checkLogin() {
          let infoResult;
          try {
            jQuery.ajax({
              url: "http://ssmd.nssdc.ac.cn/AppPlatService/cas/getLogInfo",
              async: false,
              type: "get",
              success: function (data) {
                infoResult = data;
              },
              error: function (data) {
                console.log(error)
                Vue.prototype.$alert("统一认证信息接口出错，请稍后再试", "错误", {
                  callback: action => {
                    this.goHomePage();
                  }
                })
              },
            });
            // 在外部进行处理，让this指向vue对象
            if (!infoResult || infoResult == "统一认证未登录") {
              this.requestLogin();
            } else {
              this.logged = globalLogged = true;
              this.userInfo = JSON.parse(infoResult);
              this.username = this.userInfo.showName;
              this.loginFlag = this.userInfo.loginFlag;
            }
          } catch (err) {
            // console.log(err);
            Vue.prototype.$alert("统一认证信息接口异常，请稍后再试", "异常", {
              callback: action => {
                this.goHomePage();
              }
            });
          }
        },
        requestLogin() {
          Vue.prototype
            .$confirm("请在登录后使用本系统", "提示", {
              showClose: false,
              closeOnClickModal: false,
              confirmButtonText: "前往统一认证",
              cancelButtonText: "返回",
              type: "warning",
            })
            .then(() => {
              // 前往统一认证登录
              this.loginCAS();
            })
            .catch(() => {
              // 返回首页
              this.goHomePage();
            });
        },
        // 提醒资源不存在
        building() {
          alert("资源正在建设中......");
        },
        // 返回上一层
        returnBack() {
          window.history.back();
        },
        // 返回首页
        goHomePage() {
          // window.history.back();
          window.location.href = "https://www.nssdc.ac.cn/mhsy/html/index.html";
        },
        // 登录cas
        loginCAS() {
          window.location.href =
            "https://umt.nssdc.ac.cn/login?service=http://ssmd.nssdc.ac.cn/AppPlatService/cas/loginCAS";
        },
        /**
         * 注销cas
         * @param url 客户端的注销回调函数 http://xxxxxx
         * @param loginFlag 客户端通过接口获取的登录标识 loginFlag
         */
        logoutCAS(loginFlag) {
          // console.log(loginFlag);
          url = "http://ssmd.nssdc.ac.cn/AppPlatService/cas/logoutCAS";
          jQuery.ajax({
            url:
              "https://umt.nssdc.ac.cn/logoutClient.do?loginFlag=" + loginFlag,
            async: true,
            type: "get",
            dataType: "JSONP",
            jsonp: "callback",
            jsonpCallback: "jsonpCallback",
            success: function (data) {
              if (data && data != "") {
                //第三方登录进来
                window.top.location.href = data + url; //注销：第三方、cas、客户端
              } else {
                //非第三方登录进来
                window.top.location.href =
                  "https://umt.nssdc.ac.cn/logout?service=" + url; //注销：cas、客户端
              }
            },
          });
        },
      },
    });
  </script>
  <!-- 平台基础控制代码 -->
  <script type="text/javascript">
    var frameHeight = 0;
    //        document.write(returnCitySN["cip"]+','+returnCitySN["cname"])
    window.onload = function () {
      // 模板功能迁移处
      info_h = $(".nssdc_info").height();
      getScroll();
      var src0 = "subpage/LoginRemind/LoginRemind.html";
      // 平台默认登录的用户
      //            var src = "subpage/SelectPage/Navigation.html?signature=534f92288cd2332140ee4281&userId=";
      //            src += randomString(24);
      //            src += "&account=zhang&domain=cloud.vsso.ac.cn&permission=10010#0011100#11001011&name=张明浩";
      // 取消随机用户登录，固定为聂一人
      var src1 =
        "subpage/SelectPage/Navigation.html?signature=534f92288cd2332140ee4281&userId=111bbbe18cd23317f008f111&account=nie&domain=cloud.vsso.ac.cn&permission=10010#0011100#11001011&name=聂殿辉";
      // var src3 =
      //   "subpage/SelectPage/Navigation.html?signature=534f92288cd2332140ee4281&userId=333bbbe18cd23317f008f333&account=du&domain=cloud.vsso.ac.cn&permission=10010#0011100#11001011&name=杜鹏宇";
      // var src4 =
      //   "subpage/SelectPage/Navigation.html?signature=534f92288cd2332140ee4281&userId=534bbbe18cd23317f008f0b8&account=zhang&domain=cloud.vsso.ac.cn&permission=10010#0011100#11001011&name=张明浩";
      // 未登录时不显示工具内容
      if( !globalLogged ){
        document.getElementById("subPage").src = src0;
      } else {
        // 加随机数，模拟用户的随机登陆
        var randomNumber = Math.random();
        // if (randomNumber >= 0 && randomNumber < 0.33) {
        //   document.getElementById("subPage").src = src1;
        // }
        // //            else if(randomNumber >= 0.25 && randomNumber < 0.5){
        // //                document.getElementById('subPage').src = src2;
        // //            }
        // else if (randomNumber >= 0.33 && randomNumber < 0.66) {
        //   document.getElementById("subPage").src = src3;
        // } else if (randomNumber >= 0.66 && randomNumber <= 1) {
        //   document.getElementById("subPage").src = src4;
        // }
        if (randomNumber >=0 && randomNumber <= 1) {
          document.getElementById("subPage").src = src1;
        }
      }
      // console.log(document.getElementById("subPage").src);
    };
    //        randomString = function (len) {
    //                    len = len || 24;
    //                    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
    //                    /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
    //                    var maxPos = $chars.length;
    //                    var pwd = '';
    //                    for (i = 0; i < len; i++) {
    //                        pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
    //                    }
    //                    return pwd;
    //                }
    window.addEventListener("message", getMessage, false);
    function getMessage(event) {
      // 这里注意vue也会发出一个message，但是data已经是json的形式，因此需要提前判断
      windowMsg = event.data;
      if (typeof windowMsg !== "string" || windowMsg.constructor !== String) {
        // console.log("非内部信息");
        return;
      }
      var data = JSON.parse(event.data);
      // console.log(data);
      // 控制返回按钮的隐藏与显示
      if (data.value == 626 || data.value == 400){
        // 如果是未登录提醒页面或者工具选择页面，则不显示
        document.getElementById("returnBtn").style.display = "none";
      } else{
        // 如果是其他内容则显示
        document.getElementById("returnBtn").style.display = "block";
      }
      if (data.command == "height") {
        frameHeight = data.value + "px";
        document.getElementById("subPage").style.height = frameHeight;
      } else if (data.command == "max") {
        var div = document.getElementById("frameDiv");
        div.style.position = "absolute";
        div.style.top = 0;
        div.style.left = 0;
        div.style.zIndex = 999;
        div.style.width = window.screen.availWidth;
        div.style.height = window.screen.availHeight;
      } else if (data.command == "restore") {
        var div = document.getElementById("frameDiv");
        div.style.position = "relative";
        div.style.width = "1170px";
        div.style.height = frameHeight;
      } else {
        alert("发生异常错误，请稍后再试")
      }
    }
  </script>
  <!-- 模板部分控制代码 -->
  <script type="text/javascript">
    function menu() {
      $(".subNavBox").slideToggle(500).siblings(".subNavBox").slideUp(500);
    }
    var info_h = "";
    //窗口大小发生改变
    $(window).resize(function () {
      //获取窗口宽度
      var windSize = window.innerWidth;
      if (windSize > 1115) {
        $(".menu").slideDown(0);
      } else {
        $(".menu").slideUp(0);
      }
      info_h = $(".nssdc_info").height();
    });
    //顶部logo切换
    // 多个onload，因此将内容迁移至平台基础功能有关内容的onload处
    // window.onload = function() {
    // }
    $(window).scroll(function () {
      getScroll();
    });

    function getScroll() {
      var S = document.body.scrollTop || document.documentElement.scrollTop;
      if (S >= info_h) {
        $("#logo_tit1").hide();
        $("#logo_tit2").show();
      } else {
        $("#logo_tit2").hide();
        $("#logo_tit1").show();
      }
    }
    //顶部logo切换结束
  </script>
  <!-- 科学中心的探针服务，用于记录网站访问量 -->
  <script src="http://www.nssdc.ac.cn/resources/assets/spv.js"></script>
</html>
