.addTask{background: url(new/addTask.png) no-repeat  center!important;}
.openTask{background: url(new/openTask.png) no-repeat  center!important;}
.saveTask{background: url(new/saveTask.png) no-repeat  center!important;}
.exportTask{background: url(new/exportTask.png) no-repeat  center!important;}
.back{background: url(new/back.png) no-repeat  center!important;}
.menu{background: url(new/menu.png) no-repeat  center!important;}
.propertyPanel{background: url(new/propertyPanel.png) no-repeat  center!important;}
.listPanel{background: url(new/listPanel.png) no-repeat  center!important;}
.translate{background: url(new/translate.png) no-repeat  center!important;}
.scale{background: url(new/scale.png) no-repeat  center!important;}
.combine{background: url(new/combine.png) no-repeat  center!important;}
.separate{background: url(new/separate.png) no-repeat  center!important;}
.assembly{background: url(new/assembly.png) no-repeat  center!important;}
.align{background: url(new/align.png) no-repeat  center!important;}
.selectBox{background: url(new/selectBox.png) no-repeat  center!important;}
.copy{background: url(new/copy.png) no-repeat  center!important;}
.delete{background: url(new/delete.png) no-repeat  center!important;}
.observe{background: url(new/observe.png) no-repeat  center!important;}
.help{background: url(new/help.png) no-repeat  center!important;}
.rotate{background: url(new/rotate.png) no-repeat  center!important;}
.visibile{background: url(new/visibile.png) no-repeat  center!important;}
.slow{background: url(new/slow.png) no-repeat  center!important;}
.start{background: url(new/start.png) no-repeat  center!important;}
.stop{background: url(new/stop.png) no-repeat  center!important;}
.reset{background: url(new/reset.png) no-repeat  center!important;}
.fast{background: url(new/fast.png) no-repeat  center!important;}
.satellite{background: url(new/satellite.png) no-repeat  center!important;}
.simupara{background: url(new/simupara.png) no-repeat  center!important;}
.invisible{background: url(new/invisible.png) no-repeat  center!important;}
.initView{background: url(new/initView.png) no-repeat  center!important;}
.view{background: url(new/view.png) no-repeat  center!important;}
.rename{background: url(new/rename.png) no-repeat  center!important;}
.movie{background: url(new/movie.png) no-repeat  center!important;}
.x{background: url(new/x.png) no-repeat  center!important;}
.y{background: url(new/y.png) no-repeat  center!important;}
.z{background: url(new/z.png) no-repeat  center!important;}
.DataTransAnalysis{background: url(new/dataTransAnalysis.png) no-repeat  center!important;}
.Structure{background: url(new/structure.png) no-repeat  center!important;}
.ChainAnalysis{background: url(new/chainAnalysis.png) no-repeat  center!important;}
.CoverAnalysis{background: url(new/coveranalysis.png) no-repeat  center!important;}
.overstation{background: url(new/overstation.png) no-repeat  center!important;}
.Solution{background: url(new/task.png) no-repeat  center!important;}
.Satellite{background-image:url(new/satellite.png)!important;}
.GroundStation{background-image:url(new/groundStation.png)!important;}
.EarthAreaCover{background-image:url(new/earthAreaCover.png)!important;}
.EarthCover{background-image:url(new/earthCover.png)!important;}
.SkyCoverPoint{background: url(new/partareas.png) no-repeat  center!important;}
.Task{background: url(new/task.png) no-repeat  center!important;}
.zoomIn {background: url(new/zoom_in.png) no-repeat  center!important;}
.zoomOut{background: url(new/zoom_out.png) no-repeat  center!important;}
.month{background: url(new/month.png) no-repeat  center!important;}
.day{background: url(new/day.png) no-repeat  center!important;}
.year{background: url(new/year.png) no-repeat  center!important;}
.minute{background: url(new/minute.png) no-repeat  center!important;}
.hour{background: url(new/hour.png) no-repeat  center!important;}
.SkyCoverRegin{background: url(new/allareas.png) no-repeat  center!important;}
.Sensor{background-image:url(new/sensor.png)!important;}
.Helper{background: url(new/helper.png) no-repeat  center!important;}
.download{background: url(new/download.png) no-repeat  center!important;}






































